<div class="user-card">
  <h2 class="user-name">{{ data.fullName | titlecase }}</h2>

  <p class="user-status">
    Status:
    <span [style.color]="data.status | textColor">{{ data.status }}</span>
  </p>

  <p class="user-info">
    Account Balance: {{ data.accountBalance | currency : "EUR" }}
  </p>

  <p class="user-info">Registered: {{ data.registrationDate | date }}</p>

  <p class="user-info last-login">
    Last Login: {{ data.lastLogin | date : "mediumDate" }}
    {{ data.lastLogin | lastLoginEmoji }}
  </p>
</div>
